@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  background-color: #020617;
}
html {
  scroll-behavior: smooth;
}
@keyframes gradient-shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-shift 5s ease infinite;
}